header , .signIn-now {
    background-image: url("./images/bg-masthead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 550px;
    width: 100%;
}

.contact ul.list-unstyled li.after::after {
    content: "\00B7";
    padding-left: 16px;
}


/* .logo {
    background-color: #FBFBFB;
} */